Address Validation Steps: 
1) Step 1: validate the zip code : 

5 digits for US,




Fix non valid zips? -- still need solution 
        
2) Step 2: For all records with valid zip, use uszipcode (https://pypi.python.org/pypi/uszipcode)search.by_zipcode to standardize the city name 
    and state name(abbreviated version to make shorter eg; New York to NY)
3) Step 3: for non valid zips, use search.by_city_and_state() search to ensure valid city and state name 

https://pypi.python.org/pypi/geograpy
http://dev.maxmind.com/geoip/geoip2/geolite2/


Limitations:
1) Library found for zipcodes so far is US only, it is not complete  
2) Street names no library as of yet found



https://github.com/jamesturk/jellyfish  fuzzy matching library in python with different algos


Use pyzipcode (not installing for python 3)
https://pypi.python.org/pypi/pyzipcode

In [310]:
from uszipcode import ZipcodeSearchEngine

In [311]:
search = ZipcodeSearchEngine()

In [312]:
zipcode = search.by_zipcode("94597")

In [313]:
print(zipcode)

{
    "City": "Walnut Creek",
    "Density": 5185.933503836317,
    "HouseOfUnits": 10181,
    "LandArea": 3.91,
    "Latitude": 37.9193365,
    "Longitude": -122.0780632,
    "NEBoundLatitude": 37.940474,
    "NEBoundLongitude": -122.04727,
    "Population": 20277,
    "SWBoundLatitude": 37.895976,
    "SWBoungLongitude": -122.10001100000001,
    "State": "CA",
    "TotalWages": 659243091.0,
    "WaterArea": 0.0,
    "Wealthy": 32511.865216748036,
    "Zipcode": "94597",
    "ZipcodeType": "Standard"
}

In [314]:
print(type(zipcode))

<class 'uszipcode.searchengine.Zipcode'>

In [315]:
print(zipcode.City)

Walnut Creek

In [316]:
print(zipcode.State)  #this is abbreviated

CA

In [318]:
zipcode2 = search.by_zipcode("55555")
print(zipcode2)

{
    "City": null,
    "Density": null,
    "HouseOfUnits": null,
    "LandArea": null,
    "Latitude": null,
    "Longitude": null,
    "NEBoundLatitude": null,
    "NEBoundLongitude": null,
    "Population": null,
    "SWBoundLatitude": null,
    "SWBoungLongitude": null,
    "State": null,
    "TotalWages": null,
    "WaterArea": null,
    "Wealthy": null,
    "Zipcode": null,
    "ZipcodeType": null
}

In [319]:
#You can search by city and state name, multiple results may returns. Plus, fuzzy name search is supported. 
#Which means even the inputs has spelling problem, the fuzzy matching algorithm can still find out the city and
#state your are looking for, no matter using 2 letter short name or full state name.
res = search.by_city_and_state("cicago", "ilinoy")
print(len(res))
print(type(res))
print(res[0])
#dict_res=dict(res)

5
<class 'list'>
{
    "City": "Chicago",
    "Density": 28487.17948717948,
    "HouseOfUnits": 8594,
    "LandArea": 0.39,
    "Latitude": 41.8839927,
    "Longitude": -87.61970559999997,
    "NEBoundLatitude": 41.88892999999999,
    "NEBoundLongitude": -87.60535089999998,
    "Population": 11110,
    "SWBoundLatitude": 41.874429799999994,
    "SWBoungLongitude": -87.63396800000001,
    "State": "IL",
    "TotalWages": 594882095.0,
    "WaterArea": 0.0,
    "Wealthy": 53544.74302430243,
    "Zipcode": "60601",
    "ZipcodeType": "Standard"
}

In [320]:
print(res[0]["City"])
print(res[0]["State"])
print(res[0]["Zipcode"])

Chicago
IL
60601

In [321]:
import us

In [322]:
st = us.states.STATES
print(type(st))
print(st)

<class 'list'>
[<State:Alabama>, <State:Alaska>, <State:Arizona>, <State:Arkansas>, <State:California>, <State:Colorado>, <State:Connecticut>, <State:Delaware>, <State:District of Columbia>, <State:Florida>, <State:Georgia>, <State:Hawaii>, <State:Idaho>, <State:Illinois>, <State:Indiana>, <State:Iowa>, <State:Kansas>, <State:Kentucky>, <State:Louisiana>, <State:Maine>, <State:Maryland>, <State:Massachusetts>, <State:Michigan>, <State:Minnesota>, <State:Mississippi>, <State:Missouri>, <State:Montana>, <State:Nebraska>, <State:Nevada>, <State:New Hampshire>, <State:New Jersey>, <State:New Mexico>, <State:New York>, <State:North Carolina>, <State:North Dakota>, <State:Ohio>, <State:Oklahoma>, <State:Oregon>, <State:Pennsylvania>, <State:Rhode Island>, <State:South Carolina>, <State:South Dakota>, <State:Tennessee>, <State:Texas>, <State:Utah>, <State:Vermont>, <State:Virginia>, <State:Washington>, <State:West Virginia>, <State:Wisconsin>, <State:Wyoming>]

In [323]:
sttt = us.states.STATES_AND_TERRITORIES
print(type(sttt))
print(sttt)

<class 'list'>
[<State:Alabama>, <State:Alaska>, <State:American Samoa>, <State:Arizona>, <State:Arkansas>, <State:California>, <State:Colorado>, <State:Connecticut>, <State:Dakota>, <State:Delaware>, <State:District of Columbia>, <State:Florida>, <State:Georgia>, <State:Guam>, <State:Hawaii>, <State:Idaho>, <State:Illinois>, <State:Indiana>, <State:Iowa>, <State:Kansas>, <State:Kentucky>, <State:Louisiana>, <State:Maine>, <State:Maryland>, <State:Massachusetts>, <State:Michigan>, <State:Minnesota>, <State:Mississippi>, <State:Missouri>, <State:Montana>, <State:Nebraska>, <State:Nevada>, <State:New Hampshire>, <State:New Jersey>, <State:New Mexico>, <State:New York>, <State:North Carolina>, <State:North Dakota>, <State:Northern Mariana Islands>, <State:Ohio>, <State:Oklahoma>, <State:Oregon>, <State:Orleans>, <State:Pennsylvania>, <State:Philippine Islands>, <State:Puerto Rico>, <State:Rhode Island>, <State:South Carolina>, <State:South Dakota>, <State:Tennessee>, <State:Texas>, <State:Utah>, <State:Vermont>, <State:Virgin Islands>, <State:Virginia>, <State:Washington>, <State:West Virginia>, <State:Wisconsin>, <State:Wyoming>]

In [324]:
import numpy as np 
import pandas as pd
from uszipcode import ZipcodeSearchEngine

In [325]:
file_name = "data_bank_accounts.csv"

In [420]:
bank_cust_data = pd.read_csv(file_name)

In [421]:
bank_cust_data.head(15)

,source_rowID,first_name,last_name,street,city,state,zip,phone,email
0,1,Dennis,Sullivan,232 Dryden Terrace,Appleton,12345,654321,334-6754-333,dsullivan1@ucla.edu
1,2,Harry,Davis,123 ABC,New York City,New York,55555,1-(999)999-99999,hdavis3@networkadvertising.org
2,3,Michelle,White,185 Manitowish Point,Atlanta,Georgia,30323,1-(678)692-6250,mwhite4@hud.gov
3,4,Marie,Wood,98869 Claremont Place,Pasadena,California,91125,1-(626)747-3764,mwood5@bravesites.com
4,5,Karen,Fisher,4323 Bluestem Center,Philadelphia,Pennsylvania,19115,1-(267)279-4286,kfishere@blogger
5,6,Gary,Carroll,678 Wayridge Center,Scranton,Pennsylvania,18514,1-(570)785-1034,gcarrollg@discovery.com
6,7,Paul,Gonzales,47 Main Crossing,Pittsburgh,Pennsylvania,15205,1-(724)209-2821,pgonzalesh@pbs.pqrs
7,8,Rose,Sims,03535 Knutson Place,Hattiesburg,Mississippi,39404,1-(601)773-3815,rsimsi@slideshare.net
8,316,Ronald,Powell,2 Crowley Center,Pasadena,California,91131,1-(626)574-7779,rpowell0@jomla.org
9,317,Judy,Harrison,59517 Dottie Way,Birmingham,Alabama,35263,1-(205)308-3808,jharrison7@sogou.com
10,318,Andrew,Robertson,9812 Troy Avenue,Houston,Texas,77085,1-(713)453-8878,arobertson8@census.gov
11,319,Ruth,Gonzales,0 Mcguire Court,New York City,New York,10115,1-(212)506-2497,rgonzales9@shop-pro.jp
12,320,Heather,Hawkins,07155 Calypso Alley,Daytona Beach,Florida,32128,1-(386)294-7334,hhawkin@amazon.co.uk
13,321,Thomas,Lawson,061 Magdeline Circle,London,Kentucky,40745,1-(606)272-1234,tlawsonf@admin.ch
14,322,Gary,Carroll,678 Wayridge Center,Scranton,Pennsylvania,18514,1-(500)785-2234,gcarllg@discovery.com

In [422]:
bank_cust_data.dtypes

source_rowID     int64
first_name      object
last_name       object
street          object
city            object
state           object
zip              int64
phone           object
email           object
dtype: object

In [423]:
search = ZipcodeSearchEngine()

for index, row in bank_cust_data.iterrows():
    estm_zip = (search.by_zipcode(row['zip'])).Zipcode
    row['est_zip']= estm_zip
    if(len(str(row['zip'])) == 5 and row['zip'] == estm_zip):
        row['valid_zip'] = True

In [424]:
series = bank_cust_data['zip']

In [331]:
print(series)

0     654321
1      55555
2      30323
3      91125
4      19115
5      18514
6      15205
7      39404
8      91131
9      35263
10     77085
11     10115
12     32128
13     40745
14     18514
Name: zip, dtype: int64

In [429]:
from pandas import Series
data_zipcodes = []
data_cities = []
data_states = []
index1 = series.index

for index, zipcode in series.items():
        zipobj = search.by_zipcode(str(zipcode))
        estimated_zip = zipobj.Zipcode
        estimated_city = zipobj.City
        estimated_state = zipobj.State
        data_zipcodes.append(estimated_zip)
        data_cities.append(estimated_city)
        data_states.append(estimated_state)
        
zip_series = Series(data_zipcodes,index =index1)
cities_series = Series(data_cities,index =index1)
states_series = Series(data_states,index =index1)

In [430]:
print(data_zipcodes)

[None, None, None, None, '19115', None, '15205', None, None, None, '77085', '10115', '32128', None, None]

In [431]:
print(zip_series)

0      None
1      None
2      None
3      None
4     19115
5      None
6     15205
7      None
8      None
9      None
10    77085
11    10115
12    32128
13     None
14     None
dtype: object

In [432]:
bank_cust_data["est_zip"] = zip_series
bank_cust_data["est_city"] = cities_series
bank_cust_data["est_state"] = states_series

In [336]:
print(bank_cust_data)

    source_rowID first_name  last_name                 street           city  \
0              1     Dennis   Sullivan     232 Dryden Terrace       Appleton
1              2      Harry      Davis                123 ABC  New York City
2              3   Michelle      White   185 Manitowish Point        Atlanta
3              4      Marie       Wood  98869 Claremont Place       Pasadena
4              5      Karen     Fisher   4323 Bluestem Center   Philadelphia
5              6       Gary    Carroll    678 Wayridge Center       Scranton
6              7       Paul   Gonzales       47 Main Crossing     Pittsburgh
7              8       Rose       Sims    03535 Knutson Place    Hattiesburg
8            316     Ronald     Powell       2 Crowley Center       Pasadena
9            317       Judy   Harrison       59517 Dottie Way     Birmingham
10           318     Andrew  Robertson       9812 Troy Avenue        Houston
11           319       Ruth   Gonzales        0 Mcguire Court  New York City
12           320    Heather    Hawkins    07155 Calypso Alley  Daytona Beach
13           321     Thomas     Lawson   061 Magdeline Circle         London
14           322       Gary    Carroll    678 Wayridge Center       Scranton

           state     zip             phone                           email  \
0          12345  654321      334-6754-333             dsullivan1@ucla.edu
1       New York   55555  1-(999)999-99999  hdavis3@networkadvertising.org
2        Georgia   30323   1-(678)692-6250                 mwhite4@hud.gov
3     California   91125   1-(626)747-3764           mwood5@bravesites.com
4   Pennsylvania   19115   1-(267)279-4286                kfishere@blogger
5   Pennsylvania   18514   1-(570)785-1034         gcarrollg@discovery.com
6   Pennsylvania   15205   1-(724)209-2821              pgonzalesh@pbs.org
7    Mississippi   39404   1-(601)773-3815           rsimsi@slideshare.net
8     California   91131   1-(626)574-7779              rpowell0@jomla.org
9        Alabama   35263   1-(205)308-3808            jharrison7@sogou.com
10         Texas   77085   1-(713)453-8878          arobertson8@census.gov
11      New York   10115   1-(212)506-2497          rgonzales9@shop-pro.jp
12       Florida   32128   1-(386)294-7334            hhawkin@amazon.co.uk
13      Kentucky   40745   1-(606)272-1234               tlawsonf@admin.ch
14  Pennsylvania   18514   1-(500)785-2234           gcarllg@discovery.com

   est_zip      est_city est_state
0     None          None      None
1     None          None      None
2     None          None      None
3     None          None      None
4    19115  Philadelphia        PA
5     None          None      None
6    15205    Pittsburgh        PA
7     None          None      None
8     None          None      None
9     None          None      None
10   77085       Houston        TX
11   10115      New York        NY
12   32128   Port Orange        FL
13    None          None      None
14    None          None      None

Steps for phone number validation and standardization: 
1) strip all non numeric characters like brackets, - etc 
2)append a +1 sign at the beginning (for USA) where the no of digits is 10 
  if no of digits(numerics) > 11 or less than the standard 10 ? ---> pending
3) use parse, 
#is possible number, is valid no 
4) standardize the format (select 1 format)

In [433]:
# pip install phonenumbers
#Phone numbers 
import phonenumbers
from phonenumbers import geocoder

In [339]:
x = phonenumbers.parse("+442083661177", None)

In [340]:
print(x)

Country Code: 44 National Number: 2083661177

In [341]:
phonenumbers.is_possible_number(x)

True

In [342]:
phonenumbers.is_valid_number(x)

True

In [343]:
y =phonenumbers.parse("334-6754-333",None)
print(y)

NumberParseException: (0) Missing or invalid default region.

In [344]:
z=phonenumbers.parse("+199999999999",None)
print(z)

Country Code: 1 National Number: 99999999999

In [345]:
phonenumbers.is_possible_number(z)

False

In [346]:
phonenumbers.is_valid_number(z)

False

In [347]:
#formattion options 

phonenumbers.format_number(z, phonenumbers.PhoneNumberFormat.NATIONAL)

'99999999999'

In [348]:
phonenumbers.format_number(x, phonenumbers.PhoneNumberFormat.INTERNATIONAL)

'+44 20 8366 1177'

In [349]:
phonenumbers.format_number(x, phonenumbers.PhoneNumberFormat.E164)

'+442083661177'

In [350]:
print(repr(geocoder.description_for_number(z, "en")))

''

In [351]:
#code for processing phone numbers 
phone_series = bank_cust_data["phone"]
print(phone_series)

0         334-6754-333
1     1-(999)999-99999
2      1-(678)692-6250
3      1-(626)747-3764
4      1-(267)279-4286
5      1-(570)785-1034
6      1-(724)209-2821
7      1-(601)773-3815
8      1-(626)574-7779
9      1-(205)308-3808
10     1-(713)453-8878
11     1-(212)506-2497
12     1-(386)294-7334
13     1-(606)272-1234
14     1-(500)785-2234
Name: phone, dtype: object

In [434]:
import re 
formatted_phone_series=[]
valid_phone_series = []
for ind, phone_no in phone_series.items():
    phone_str = str(phone_no)
    phone_stripped = re.sub(r'[^0-9 ]',r'',phone_str)
    #print(phone_no,phone_stripped)  
    if(len(phone_stripped) ==10):
        phone_stripped = '1'+phone_stripped
    phone_stripped = '+'+phone_stripped
    #print(phone_no,phone_stripped) 
    p_parsed=phonenumbers.parse(phone_stripped,None)
    formatted_phone_series.append(phonenumbers.format_number(p_parsed, phonenumbers.PhoneNumberFormat.E164))
    if(phonenumbers.is_possible_number(p_parsed) and phonenumbers.is_valid_number(p_parsed)):
        valid_phone_series.append(True)
    else:
        valid_phone_series.append(False)
bank_cust_data["formatted_phone"] = formatted_phone_series
bank_cust_data["valid_phone_flag"] = valid_phone_series

In [435]:
print(bank_cust_data)

    source_rowID first_name  last_name                 street           city  \
0              1     Dennis   Sullivan     232 Dryden Terrace       Appleton
1              2      Harry      Davis                123 ABC  New York City
2              3   Michelle      White   185 Manitowish Point        Atlanta
3              4      Marie       Wood  98869 Claremont Place       Pasadena
4              5      Karen     Fisher   4323 Bluestem Center   Philadelphia
5              6       Gary    Carroll    678 Wayridge Center       Scranton
6              7       Paul   Gonzales       47 Main Crossing     Pittsburgh
7              8       Rose       Sims    03535 Knutson Place    Hattiesburg
8            316     Ronald     Powell       2 Crowley Center       Pasadena
9            317       Judy   Harrison       59517 Dottie Way     Birmingham
10           318     Andrew  Robertson       9812 Troy Avenue        Houston
11           319       Ruth   Gonzales        0 Mcguire Court  New York City
12           320    Heather    Hawkins    07155 Calypso Alley  Daytona Beach
13           321     Thomas     Lawson   061 Magdeline Circle         London
14           322       Gary    Carroll    678 Wayridge Center       Scranton

           state     zip             phone                           email  \
0          12345  654321      334-6754-333             dsullivan1@ucla.edu
1       New York   55555  1-(999)999-99999  hdavis3@networkadvertising.org
2        Georgia   30323   1-(678)692-6250                 mwhite4@hud.gov
3     California   91125   1-(626)747-3764           mwood5@bravesites.com
4   Pennsylvania   19115   1-(267)279-4286                kfishere@blogger
5   Pennsylvania   18514   1-(570)785-1034         gcarrollg@discovery.com
6   Pennsylvania   15205   1-(724)209-2821             pgonzalesh@pbs.pqrs
7    Mississippi   39404   1-(601)773-3815           rsimsi@slideshare.net
8     California   91131   1-(626)574-7779              rpowell0@jomla.org
9        Alabama   35263   1-(205)308-3808            jharrison7@sogou.com
10         Texas   77085   1-(713)453-8878          arobertson8@census.gov
11      New York   10115   1-(212)506-2497          rgonzales9@shop-pro.jp
12       Florida   32128   1-(386)294-7334            hhawkin@amazon.co.uk
13      Kentucky   40745   1-(606)272-1234               tlawsonf@admin.ch
14  Pennsylvania   18514   1-(500)785-2234           gcarllg@discovery.com

   est_zip      est_city est_state formatted_phone valid_phone_flag
0     None          None      None    +13346754333             True
1     None          None      None   +199999999999            False
2     None          None      None    +16786926250             True
3     None          None      None    +16267473764             True
4    19115  Philadelphia        PA    +12672794286             True
5     None          None      None    +15707851034             True
6    15205    Pittsburgh        PA    +17242092821             True
7     None          None      None    +16017733815             True
8     None          None      None    +16265747779             True
9     None          None      None    +12053083808             True
10   77085       Houston        TX    +17134538878             True
11   10115      New York        NY    +12125062497             True
12   32128   Port Orange        FL    +13862947334             True
13    None          None      None    +16062721234             True
14    None          None      None    +15007852234             True

#Email Validation 

email : xyz@abc.peterpan

1. regex check email validity (something@something.domain) Y
2. if domain is valid N
3. sub domain etc...


https://pypi.python.org/pypi/tld

https://pypi.python.org/pypi/validate_email
#pip install validate_email
#pip install pyDNS OR Py3DNS

In [354]:
#basic usage 

from validate_email import validate_email
is_valid = validate_email('lakshmichaudhari@gmail.com')

In [355]:
print(is_valid)

True

In [356]:
#check if domain has SMTP server

is_valid_domain = validate_email('lakshmichaudhari@gmail.com',check_mx=True)

In [357]:
print(is_valid_domain)

None

In [358]:
#verify email exists 

is_valid_email = validate_email('lakshmichaudhari@gmail.com',verify=True)

In [359]:
print(is_valid_email)

None

In [360]:
#https://github.com/JoshData/python-email-validator
#pip install email_validator 
#git clone https://github.com/rthalley/dnspython
#cd dnspython/
# python setup.py install
#import dns

from email_validator import validate_email, EmailNotValidError

email = "lakshmichaudhari@gmail.com"

try:
    v = validate_email(email) # validate and get info
    email = v["email"] # replace with normalized form
except EmailNotValidError as e:
    # email is not valid, exception message is human-readable
    print(str(e))

ModuleNotFoundError: No module named 'dns'

In [ ]:
import dns
#import dnspython.resolver, dnspython.exception

In [ ]:
#https://pypi.python.org/pypi/validate-email-address/1
from validate_email_address import validate_email

In [ ]:
validate_email('example@example.com')

In [ ]:
print(validate_email('example@sharklasers.com', check_mx=True))

In [ ]:
validate_email('example@sharklasers.com', verify=True)

In [ ]:
validate_email('lakshmichaudhari@gmail.com')

In [376]:
print(validate_email('lakshmichaudhari@gmail.com', check_mx=True))

None

In [375]:
print(validate_email('lakshmichaudhari@gmail.com', verify=True))

None

In [ ]:
from tld import get_tld

In [ ]:
from email.utils import parseaddr

In [374]:
parseaddr('lakshmichaudhari@gmail.com')

('', 'lakshmichaudhari@gmail.com')

#Email Validation Steps 

Pre processing steps: 
1) Create a text file of valid Top Level domains https://gist.github.com/stantonk/b0a937ca9c035a83b14c

http://www.iana.org/domains/root/db

1) Validate that the format is correct such as example@example.com , only one '@' and atleast 1 '.' after the '@'
2) Parse email address to extract Top level domain
3) Validate that the Top level domain is valid

In [ ]:
#Get list of valid TLD's
#pip install HTMLParser 
#pip install HTMLParseError


#web scraper to get list of top level domains 
import codecs
import requests
from bs4 import BeautifulSoup
#import HTMLParser

PER_LINE = 12

text = requests.get('http://www.iana.org/domains/root/db').text
soup = BeautifulSoup(text,'html.parser')
x = soup.find('table', {'id': 'tld-table'})
tlds = [anchor.text for anchor in x.find_all('a')]

with codecs.open('legal_tlds.py', 'w', encoding='utf8') as f:

    f.write(u'# -*- coding: utf-8 -*-\n')
    f.write(u'TLDS = set([\n')

    for i, tld in enumerate(tlds):
        print(tld.encode('utf8'))

        tld = tld.lstrip('.')

        if i % PER_LINE == 0:
            f.write('    ')

        f.write(u'\'%s\',' % tld)
        if i % PER_LINE == (PER_LINE - 1):
            f.write('\n')
        else:
            f.write(' ')

    f.write(u'])\n')

In [ ]:
#need to build scraper for TLDs

In [436]:
tld_file = 'tld.rtf'
email_series = bank_cust_data["email"]
valid_email_format =[]
valid_domain = []
valid_sub_domain =[]
valid_top_level_domain =[] 

tld_list = []
open_tld_file = open(tld_file,'r')

#print(open_tld_file)



for x in open_tld_file:
    if (str(x).strip()!=''):
        tld_list.append(str(x).strip().strip('\\'))
    
#print(tld_list)    

#tld_set = set(tld_list)


print(sorted(tld_list))




len_list = []
for y in tld_list:
    len_list.append(len(y))

#print(set(len_list))

['AAA', 'ABARTH', 'ABB', 'ABBOTT', 'ABBVIE', 'ABC', 'ABLE', 'ABOGADO', 'ABUDHABI', 'AC', 'ACADEMY', 'ACCENTURE', 'ACCOUNTANT', 'ACCOUNTANTS', 'ACO', 'ACTIVE', 'ACTOR', 'AD', 'ADAC', 'ADS', 'ADULT', 'AE', 'AEG', 'AERO', 'AETNA', 'AF', 'AFAMILYCOMPANY', 'AFL', 'AFRICA', 'AG', 'AGAKHAN', 'AGENCY', 'AI', 'AIG', 'AIGO', 'AIRBUS', 'AIRFORCE', 'AIRTEL', 'AKDN', 'AL', 'ALFAROMEO', 'ALIBABA', 'ALIPAY', 'ALLFINANZ', 'ALLSTATE', 'ALLY', 'ALSACE', 'ALSTOM', 'AM', 'AMERICANEXPRESS', 'AMERICANFAMILY', 'AMEX', 'AMFAM', 'AMICA', 'AMSTERDAM', 'ANALYTICS', 'ANDROID', 'ANQUAN', 'ANZ', 'AO', 'AOL', 'APARTMENTS', 'APP', 'APPLE', 'AQ', 'AQUARELLE', 'AR', 'ARAMCO', 'ARCHI', 'ARMY', 'ARPA', 'ART', 'ARTE', 'AS', 'ASDA', 'ASIA', 'ASSOCIATES', 'AT', 'ATHLETA', 'ATTORNEY', 'AU', 'AUCTION', 'AUDI', 'AUDIBLE', 'AUDIO', 'AUSPOST', 'AUTHOR', 'AUTO', 'AUTOS', 'AVIANCA', 'AW', 'AWS', 'AX', 'AXA', 'AZ', 'AZURE', 'BA', 'BABY', 'BAIDU', 'BANAMEX', 'BANANAREPUBLIC', 'BAND', 'BANK', 'BAR', 'BARCELONA', 'BARCLAYCARD', 'BARCLAYS', 'BAREFOOT', 'BARGAINS', 'BASEBALL', 'BASKETBALL', 'BAUHAUS', 'BAYERN', 'BB', 'BBC', 'BBT', 'BBVA', 'BCG', 'BCN', 'BD', 'BE', 'BEATS', 'BEAUTY', 'BEER', 'BENTLEY', 'BERLIN', 'BEST', 'BESTBUY', 'BET', 'BF', 'BG', 'BH', 'BHARTI', 'BI', 'BIBLE', 'BID', 'BIKE', 'BING', 'BINGO', 'BIO', 'BIZ', 'BJ', 'BLACK', 'BLACKFRIDAY', 'BLANCO', 'BLOCKBUSTER', 'BLOG', 'BLOOMBERG', 'BLUE', 'BM', 'BMS', 'BMW', 'BN', 'BNL', 'BNPPARIBAS', 'BO', 'BOATS', 'BOEHRINGER', 'BOFA', 'BOM', 'BOND', 'BOO', 'BOOK', 'BOOKING', 'BOOTS', 'BOSCH', 'BOSTIK', 'BOSTON', 'BOT', 'BOUTIQUE', 'BOX', 'BR', 'BRADESCO', 'BRIDGESTONE', 'BROADWAY', 'BROKER', 'BROTHER', 'BRUSSELS', 'BS', 'BT', 'BUDAPEST', 'BUGATTI', 'BUILD', 'BUILDERS', 'BUSINESS', 'BUY', 'BUZZ', 'BV', 'BW', 'BY', 'BZ', 'BZH', 'CA', 'CAB', 'CAFE', 'CAL', 'CALL', 'CALVINKLEIN', 'CAM', 'CAMERA', 'CAMP', 'CANCERRESEARCH', 'CANON', 'CAPETOWN', 'CAPITAL', 'CAPITALONE', 'CAR', 'CARAVAN', 'CARDS', 'CARE', 'CAREER', 'CAREERS', 'CARS', 'CARTIER', 'CASA', 'CASE', 'CASEIH', 'CASH', 'CASINO', 'CAT', 'CATERING', 'CATHOLIC', 'CBA', 'CBN', 'CBRE', 'CBS', 'CC', 'CD', 'CEB', 'CENTER', 'CEO', 'CERN', 'CF', 'CFA', 'CFD', 'CG', 'CH', 'CHANEL', 'CHANNEL', 'CHASE', 'CHAT', 'CHEAP', 'CHINTAI', 'CHLOE', 'CHRISTMAS', 'CHROME', 'CHRYSLER', 'CHURCH', 'CI', 'CIPRIANI', 'CIRCLE', 'CISCO', 'CITADEL', 'CITI', 'CITIC', 'CITY', 'CITYEATS', 'CK', 'CL', 'CLAIMS', 'CLEANING', 'CLICK', 'CLINIC', 'CLINIQUE', 'CLOTHING', 'CLOUD', 'CLUB', 'CLUBMED', 'CM', 'CN', 'CO', 'COACH', 'CODES', 'COFFEE', 'COLLEGE', 'COLOGNE', 'COM', 'COMCAST', 'COMMBANK', 'COMMUNITY', 'COMPANY', 'COMPARE', 'COMPUTER', 'COMSEC', 'CONDOS', 'CONSTRUCTION', 'CONSULTING', 'CONTACT', 'CONTRACTORS', 'COOKING', 'COOKINGCHANNEL', 'COOL', 'COOP', 'CORSICA', 'COUNTRY', 'COUPON', 'COUPONS', 'COURSES', 'CR', 'CREDIT', 'CREDITCARD', 'CREDITUNION', 'CRICKET', 'CROWN', 'CRS', 'CRUISE', 'CRUISES', 'CSC', 'CU', 'CUISINELLA', 'CV', 'CW', 'CX', 'CY', 'CYMRU', 'CYOU', 'CZ', 'DABUR', 'DAD', 'DANCE', 'DATA', 'DATE', 'DATING', 'DATSUN', 'DAY', 'DCLK', 'DDS', 'DE', 'DEAL', 'DEALER', 'DEALS', 'DEGREE', 'DELIVERY', 'DELL', 'DELOITTE', 'DELTA', 'DEMOCRAT', 'DENTAL', 'DENTIST', 'DESI', 'DESIGN', 'DEV', 'DHL', 'DIAMONDS', 'DIET', 'DIGITAL', 'DIRECT', 'DIRECTORY', 'DISCOUNT', 'DISCOVER', 'DISH', 'DIY', 'DJ', 'DK', 'DM', 'DNP', 'DO', 'DOCS', 'DOCTOR', 'DODGE', 'DOG', 'DOHA', 'DOMAINS', 'DOT', 'DOWNLOAD', 'DRIVE', 'DTV', 'DUBAI', 'DUCK', 'DUNLOP', 'DUNS', 'DUPONT', 'DURBAN', 'DVAG', 'DVR', 'DZ', 'EARTH', 'EAT', 'EC', 'ECO', 'EDEKA', 'EDU', 'EDUCATION', 'EE', 'EG', 'EMAIL', 'EMERCK', 'ENERGY', 'ENGINEER', 'ENGINEERING', 'ENTERPRISES', 'EPOST', 'EPSON', 'EQUIPMENT', 'ER', 'ERICSSON', 'ERNI', 'ES', 'ESQ', 'ESTATE', 'ESURANCE', 'ET', 'EU', 'EUROVISION', 'EUS', 'EVENTS', 'EVERBANK', 'EXCHANGE', 'EXPERT', 'EXPOSED', 'EXPRESS', 'EXTRASPACE', 'FAGE', 'FAIL', 'FAIRWINDS', 'FAITH', 'FAMILY', 'FAN', 'FANS', 'FARM', 'FARMERS', 'FASHION', 'FAST', 'FEDEX', 'FEEDBACK', 'FERRARI', 'FERRERO', 'FI', 'FIAT', 'FIDELITY', 'FIDO', 'FILM', 'FINAL', 'FINANCE', 'FINANCIAL', 'FIRE', 'FIRESTONE', 'FIRMDALE', 'FISH', 'FISHING', 'FIT', 'FITNESS', 'FJ', 'FK', 'FLICKR', 'FLIGHTS', 'FLIR', 'FLORIST', 'FLOWERS', 'FLY', 'FM', 'FO', 'FOO', 'FOOD', 'FOODNETWORK', 'FOOTBALL', 'FORD', 'FOREX', 'FORSALE', 'FORUM', 'FOUNDATION', 'FOX', 'FR', 'FREE', 'FRESENIUS', 'FRL', 'FROGANS', 'FRONTDOOR', 'FRONTIER', 'FTR', 'FUJITSU', 'FUJIXEROX', 'FUN', 'FUND', 'FURNITURE', 'FUTBOL', 'FYI', 'GA', 'GAL', 'GALLERY', 'GALLO', 'GALLUP', 'GAME', 'GAMES', 'GAP', 'GARDEN', 'GB', 'GBIZ', 'GD', 'GDN', 'GE', 'GEA', 'GENT', 'GENTING', 'GEORGE', 'GF', 'GG', 'GGEE', 'GH', 'GI', 'GIFT', 'GIFTS', 'GIVES', 'GIVING', 'GL', 'GLADE', 'GLASS', 'GLE', 'GLOBAL', 'GLOBO', 'GM', 'GMAIL', 'GMBH', 'GMO', 'GMX', 'GN', 'GODADDY', 'GOLD', 'GOLDPOINT', 'GOLF', 'GOO', 'GOODHANDS', 'GOODYEAR', 'GOOG', 'GOOGLE', 'GOP', 'GOT', 'GOV', 'GP', 'GQ', 'GR', 'GRAINGER', 'GRAPHICS', 'GRATIS', 'GREEN', 'GRIPE', 'GROUP', 'GS', 'GT', 'GU', 'GUARDIAN', 'GUCCI', 'GUGE', 'GUIDE', 'GUITARS', 'GURU', 'GW', 'GY', 'HAIR', 'HAMBURG', 'HANGOUT', 'HAUS', 'HBO', 'HDFC', 'HDFCBANK', 'HEALTH', 'HEALTHCARE', 'HELP', 'HELSINKI', 'HERE', 'HERMES', 'HGTV', 'HIPHOP', 'HISAMITSU', 'HITACHI', 'HIV', 'HK', 'HKT', 'HM', 'HN', 'HOCKEY', 'HOLDINGS', 'HOLIDAY', 'HOMEDEPOT', 'HOMEGOODS', 'HOMES', 'HOMESENSE', 'HONDA', 'HONEYWELL', 'HORSE', 'HOSPITAL', 'HOST', 'HOSTING', 'HOT', 'HOTELES', 'HOTELS', 'HOTMAIL', 'HOUSE', 'HOW', 'HR', 'HSBC', 'HT', 'HTC', 'HU', 'HUGHES', 'HYATT', 'HYUNDAI', 'IBM', 'ICBC', 'ICE', 'ICU', 'ID', 'IE', 'IEEE', 'IFM', 'IKANO', 'IL', 'IM', 'IMAMAT', 'IMDB', 'IMMO', 'IMMOBILIEN', 'IN', 'INDUSTRIES', 'INFINITI', 'INFO', 'ING', 'INK', 'INSTITUTE', 'INSURANCE', 'INSURE', 'INT', 'INTEL', 'INTERNATIONAL', 'INTUIT', 'INVESTMENTS', 'IO', 'IPIRANGA', 'IQ', 'IR', 'IRISH', 'IS', 'ISELECT', 'ISMAILI', 'IST', 'ISTANBUL', 'IT', 'ITAU', 'ITV', 'IVECO', 'IWC', 'JAGUAR', 'JAVA', 'JCB', 'JCP', 'JE', 'JEEP', 'JETZT', 'JEWELRY', 'JIO', 'JLC', 'JLL', 'JM', 'JMP', 'JNJ', 'JO', 'JOBS', 'JOBURG', 'JOT', 'JOY', 'JP', 'JPMORGAN', 'JPRS', 'JUEGOS', 'JUNIPER', 'KAUFEN', 'KDDI', 'KE', 'KERRYHOTELS', 'KERRYLOGISTICS', 'KERRYPROPERTIES', 'KFH', 'KG', 'KH', 'KI', 'KIA', 'KIM', 'KINDER', 'KINDLE', 'KITCHEN', 'KIWI', 'KM', 'KN', 'KOELN', 'KOMATSU', 'KOSHER', 'KP', 'KPMG', 'KPN', 'KR', 'KRD', 'KRED', 'KUOKGROUP', 'KW', 'KY', 'KYOTO', 'KZ', 'LA', 'LACAIXA', 'LADBROKES', 'LAMBORGHINI', 'LAMER', 'LANCASTER', 'LANCIA', 'LANCOME', 'LAND', 'LANDROVER', 'LANXESS', 'LASALLE', 'LAT', 'LATINO', 'LATROBE', 'LAW', 'LAWYER', 'LB', 'LC', 'LDS', 'LEASE', 'LECLERC', 'LEFRAK', 'LEGAL', 'LEGO', 'LEXUS', 'LGBT', 'LI', 'LIAISON', 'LIDL', 'LIFE', 'LIFEINSURANCE', 'LIFESTYLE', 'LIGHTING', 'LIKE', 'LILLY', 'LIMITED', 'LIMO', 'LINCOLN', 'LINDE', 'LINK', 'LIPSY', 'LIVE', 'LIVING', 'LIXIL', 'LK', 'LOAN', 'LOANS', 'LOCKER', 'LOCUS', 'LOFT', 'LOL', 'LONDON', 'LOTTE', 'LOTTO', 'LOVE', 'LPL', 'LPLFINANCIAL', 'LR', 'LS', 'LT', 'LTD', 'LTDA', 'LU', 'LUNDBECK', 'LUPIN', 'LUXE', 'LUXURY', 'LV', 'LY', 'MA', 'MACYS', 'MADRID', 'MAIF', 'MAISON', 'MAKEUP', 'MAN', 'MANAGEMENT', 'MANGO', 'MARKET', 'MARKETING', 'MARKETS', 'MARRIOTT', 'MARSHALLS', 'MASERATI', 'MATTEL', 'MBA', 'MC', 'MCD', 'MCDONALDS', 'MCKINSEY', 'MD', 'ME', 'MED', 'MEDIA', 'MEET', 'MELBOURNE', 'MEME', 'MEMORIAL', 'MEN', 'MENU', 'MEO', 'METLIFE', 'MG', 'MH', 'MIAMI', 'MICROSOFT', 'MIL', 'MINI', 'MINT', 'MIT', 'MITSUBISHI', 'MK', 'ML', 'MLB', 'MLS', 'MM', 'MMA', 'MN', 'MO', 'MOBI', 'MOBILE', 'MOBILY', 'MODA', 'MOE', 'MOI', 'MOM', 'MONASH', 'MONEY', 'MONSTER', 'MONTBLANC', 'MOPAR', 'MORMON', 'MORTGAGE', 'MOSCOW', 'MOTO', 'MOTORCYCLES', 'MOV', 'MOVIE', 'MOVISTAR', 'MP', 'MQ', 'MR', 'MS', 'MSD', 'MT', 'MTN', 'MTPC', 'MTR', 'MU', 'MUSEUM', 'MUTUAL', 'MV', 'MW', 'MX', 'MY', 'MZ', 'NA', 'NAB', 'NADEX', 'NAGOYA', 'NAME', 'NATIONWIDE', 'NATURA', 'NAVY', 'NBA', 'NC', 'NE', 'NEC', 'NET', 'NETBANK', 'NETFLIX', 'NETWORK', 'NEUSTAR', 'NEW', 'NEWHOLLAND', 'NEWS', 'NEXT', 'NEXTDIRECT', 'NEXUS', 'NF', 'NFL', 'NG', 'NGO', 'NHK', 'NI', 'NICO', 'NIKE', 'NIKON', 'NINJA', 'NISSAN', 'NISSAY', 'NL', 'NO', 'NOKIA', 'NORTHWESTERNMUTUAL', 'NORTON', 'NOW', 'NOWRUZ', 'NOWTV', 'NP', 'NR', 'NRA', 'NRW', 'NTT', 'NU', 'NYC', 'NZ', 'OBI', 'OBSERVER', 'OFF', 'OFFICE', 'OKINAWA', 'OLAYAN', 'OLAYANGROUP', 'OLDNAVY', 'OLLO', 'OM', 'OMEGA', 'ONE', 'ONG', 'ONL', 'ONLINE', 'ONYOURSIDE', 'OOO', 'OPEN', 'ORACLE', 'ORANGE', 'ORG', 'ORGANIC', 'ORIGINS', 'OSAKA', 'OTSUKA', 'OTT', 'OVH', 'PA', 'PAGE', 'PAMPEREDCHEF', 'PANASONIC', 'PANERAI', 'PARIS', 'PARS', 'PARTNERS', 'PARTS', 'PARTY', 'PASSAGENS', 'PAY', 'PCCW', 'PE', 'PET', 'PF', 'PFIZER', 'PG', 'PH', 'PHARMACY', 'PHILIPS', 'PHONE', 'PHOTO', 'PHOTOGRAPHY', 'PHOTOS', 'PHYSIO', 'PIAGET', 'PICS', 'PICTET', 'PICTURES', 'PID', 'PIN', 'PING', 'PINK', 'PIONEER', 'PIZZA', 'PK', 'PL', 'PLACE', 'PLAY', 'PLAYSTATION', 'PLUMBING', 'PLUS', 'PM', 'PN', 'PNC', 'POHL', 'POKER', 'POLITIE', 'PORN', 'POST', 'PR', 'PRAMERICA', 'PRAXI', 'PRESS', 'PRIME', 'PRO', 'PROD', 'PRODUCTIONS', 'PROF', 'PROGRESSIVE', 'PROMO', 'PROPERTIES', 'PROPERTY', 'PROTECTION', 'PRU', 'PRUDENTIAL', 'PS', 'PT', 'PUB', 'PW', 'PWC', 'PY', 'QA', 'QPON', 'QUEBEC', 'QUEST', 'QVC', 'RACING', 'RADIO', 'RAID', 'RE', 'READ', 'REALESTATE', 'REALTOR', 'REALTY', 'RECIPES', 'RED', 'REDSTONE', 'REDUMBRELLA', 'REHAB', 'REISE', 'REISEN', 'REIT', 'RELIANCE', 'REN', 'RENT', 'RENTALS', 'REPAIR', 'REPORT', 'REPUBLICAN', 'REST', 'RESTAURANT', 'REVIEW', 'REVIEWS', 'REXROTH', 'RICH', 'RICHARDLI', 'RICOH', 'RIGHTATHOME', 'RIL', 'RIO', 'RIP', 'RMIT', 'RO', 'ROCHER', 'ROCKS', 'RODEO', 'ROGERS', 'ROOM', 'RS', 'RSVP', 'RU', 'RUGBY', 'RUHR', 'RUN', 'RW', 'RWE', 'RYUKYU', 'SA', 'SAARLAND', 'SAFE', 'SAFETY', 'SAKURA', 'SALE', 'SALON', 'SAMSCLUB', 'SAMSUNG', 'SANDVIK', 'SANDVIKCOROMANT', 'SANOFI', 'SAP', 'SAPO', 'SARL', 'SAS', 'SAVE', 'SAXO', 'SB', 'SBI', 'SBS', 'SC', 'SCA', 'SCB', 'SCHAEFFLER', 'SCHMIDT', 'SCHOLARSHIPS', 'SCHOOL', 'SCHULE', 'SCHWARZ', 'SCIENCE', 'SCJOHNSON', 'SCOR', 'SCOT', 'SD', 'SE', 'SEAT', 'SECURE', 'SECURITY', 'SEEK', 'SELECT', 'SENER', 'SERVICES', 'SES', 'SEVEN', 'SEW', 'SEX', 'SEXY', 'SFR', 'SG', 'SH', 'SHANGRILA', 'SHARP', 'SHAW', 'SHELL', 'SHIA', 'SHIKSHA', 'SHOES', 'SHOP', 'SHOPPING', 'SHOUJI', 'SHOW', 'SHOWTIME', 'SHRIRAM', 'SI', 'SILK', 'SINA', 'SINGLES', 'SITE', 'SJ', 'SK', 'SKI', 'SKIN', 'SKY', 'SKYPE', 'SL', 'SLING', 'SM', 'SMART', 'SMILE', 'SN', 'SNCF', 'SO', 'SOCCER', 'SOCIAL', 'SOFTBANK', 'SOFTWARE', 'SOHU', 'SOLAR', 'SOLUTIONS', 'SONG', 'SONY', 'SOY', 'SPACE', 'SPIEGEL', 'SPOT', 'SPREADBETTING', 'SR', 'SRL', 'SRT', 'ST', 'STADA', 'STAPLES', 'STAR', 'STARHUB', 'STATEBANK', 'STATEFARM', 'STATOIL', 'STC', 'STCGROUP', 'STOCKHOLM', 'STORAGE', 'STORE', 'STREAM', 'STUDIO', 'STUDY', 'STYLE', 'SU', 'SUCKS', 'SUPPLIES', 'SUPPLY', 'SUPPORT', 'SURF', 'SURGERY', 'SUZUKI', 'SV', 'SWATCH', 'SWIFTCOVER', 'SWISS', 'SX', 'SY', 'SYDNEY', 'SYMANTEC', 'SYSTEMS', 'SZ', 'TAB', 'TAIPEI', 'TALK', 'TAOBAO', 'TARGET', 'TATAMOTORS', 'TATAR', 'TATTOO', 'TAX', 'TAXI', 'TC', 'TCI', 'TD', 'TDK', 'TEAM', 'TECH', 'TECHNOLOGY', 'TEL', 'TELECITY', 'TELEFONICA', 'TEMASEK', 'TENNIS', 'TEVA', 'TF', 'TG', 'TH', 'THD', 'THEATER', 'THEATRE', 'TIAA', 'TICKETS', 'TIENDA', 'TIFFANY', 'TIPS', 'TIRES', 'TIROL', 'TJ', 'TJMAXX', 'TJX', 'TK', 'TKMAXX', 'TL', 'TM', 'TMALL', 'TN', 'TO', 'TODAY', 'TOKYO', 'TOOLS', 'TOP', 'TORAY', 'TOSHIBA', 'TOTAL', 'TOURS', 'TOWN', 'TOYOTA', 'TOYS', 'TR', 'TRADE', 'TRADING', 'TRAINING', 'TRAVEL', 'TRAVELCHANNEL', 'TRAVELERS', 'TRAVELERSINSURANCE', 'TRUST', 'TRV', 'TT', 'TUBE', 'TUI', 'TUNES', 'TUSHU', 'TV', 'TVS', 'TW', 'TZ', 'UA', 'UBANK', 'UBS', 'UCONNECT', 'UG', 'UK', 'UNICOM', 'UNIVERSITY', 'UNO', 'UOL', 'UPS', 'US', 'UY', 'UZ', 'VA', 'VACATIONS', 'VANA', 'VANGUARD', 'VC', 'VE', 'VEGAS', 'VENTURES', 'VERISIGN', 'VERSICHERUNG', 'VET', 'VG', 'VI', 'VIAJES', 'VIDEO', 'VIG', 'VIKING', 'VILLAS', 'VIN', 'VIP', 'VIRGIN', 'VISA', 'VISION', 'VISTA', 'VISTAPRINT', 'VIVA', 'VIVO', 'VLAANDEREN', 'VN', 'VODKA', 'VOLKSWAGEN', 'VOLVO', 'VOTE', 'VOTING', 'VOTO', 'VOYAGE', 'VU', 'VUELOS', 'WALES', 'WALMART', 'WALTER', 'WANG', 'WANGGOU', 'WARMAN', 'WATCH', 'WATCHES', 'WEATHER', 'WEATHERCHANNEL', 'WEBCAM', 'WEBER', 'WEBSITE', 'WED', 'WEDDING', 'WEIBO', 'WEIR', 'WF', 'WHOSWHO', 'WIEN', 'WIKI', 'WILLIAMHILL', 'WIN', 'WINDOWS', 'WINE', 'WINNERS', 'WME', 'WOLTERSKLUWER', 'WOODSIDE', 'WORK', 'WORKS', 'WORLD', 'WOW', 'WS', 'WTC', 'WTF', 'XBOX', 'XEROX', 'XFINITY', 'XIHUAN', 'XIN', 'XN--11B4C3D', 'XN--1CK2E1B', 'XN--1QQW23A', 'XN--30RR7Y', 'XN--3BST00M', 'XN--3DS443G', 'XN--3E0B707E', 'XN--3OQ18VL8PN36A', 'XN--3PXU8K', 'XN--42C2D9A', 'XN--45BRJ9C', 'XN--45Q11C', 'XN--4GBRIM', 'XN--54B7FTA0CC', 'XN--55QW42G', 'XN--55QX5D', 'XN--5SU34J936BGSG', 'XN--5TZM5G', 'XN--6FRZ82G', 'XN--6QQ986B3XL', 'XN--80ADXHKS', 'XN--80AO21A', 'XN--80AQECDR1A', 'XN--80ASEHDB', 'XN--80ASWG', 'XN--8Y0A063A', 'XN--90A3AC', 'XN--90AE', 'XN--90AIS', 'XN--9DBQ2A', 'XN--9ET52U', 'XN--9KRT00A', 'XN--B4W605FERD', 'XN--BCK1B9A5DRE4C', 'XN--C1AVG', 'XN--C2BR7G', 'XN--CCK2B3B', 'XN--CG4BKI', 'XN--CLCHC0EA0B2G2A9GCD', 'XN--CZR694B', 'XN--CZRS0T', 'XN--CZRU2D', 'XN--D1ACJ3B', 'XN--D1ALF', 'XN--E1A4C', 'XN--ECKVDTC9D', 'XN--EFVY88H', 'XN--ESTV75G', 'XN--FCT429K', 'XN--FHBEI', 'XN--FIQ228C5HS', 'XN--FIQ64B', 'XN--FIQS8S', 'XN--FIQZ9S', 'XN--FJQ720A', 'XN--FLW351E', 'XN--FPCRJ9C3D', 'XN--FZC2C9E2C', 'XN--FZYS8D69UVGM', 'XN--G2XX48C', 'XN--GCKR3F0F', 'XN--GECRJ9C', 'XN--GK3AT1E', 'XN--H2BRJ9C', 'XN--HXT814E', 'XN--I1B6B1A6A2E', 'XN--IMR513N', 'XN--IO0A7I', 'XN--J1AEF', 'XN--J1AMH', 'XN--J6W193G', 'XN--JLQ61U9W7B', 'XN--JVR189M', 'XN--KCRX77D1X4A', 'XN--KPRW13D', 'XN--KPRY57D', 'XN--KPU716F', 'XN--KPUT3I', 'XN--L1ACC', 'XN--LGBBAT1AD8J', 'XN--MGB9AWBF', 'XN--MGBA3A3EJT', 'XN--MGBA3A4F16A', 'XN--MGBA7C0BBN0A', 'XN--MGBAAM7A8H', 'XN--MGBAB2BD', 'XN--MGBAI9AZGQP6J', 'XN--MGBAYH7GPA', 'XN--MGBB9FBPOB', 'XN--MGBBH1A71E', 'XN--MGBC0A9AZCG', 'XN--MGBCA7DZDO', 'XN--MGBERP4A5D4AR', 'XN--MGBI4ECEXP', 'XN--MGBPL2FH', 'XN--MGBT3DHD', 'XN--MGBTX2B', 'XN--MGBX4CD0AB', 'XN--MIX891F', 'XN--MK1BU44C', 'XN--MXTQ1M', 'XN--NGBC5AZD', 'XN--NGBE9E0A', 'XN--NODE', 'XN--NQV7F', 'XN--NQV7FS00EMA', 'XN--NYQY26A', 'XN--O3CW4H', 'XN--OGBPF8FL', 'XN--P1ACF', 'XN--P1AI', 'XN--PBT977C', 'XN--PGBS0DH', 'XN--PSSY2U', 'XN--Q9JYB4C', 'XN--QCKA1PMC', 'XN--QXAM', 'XN--RHQV96G', 'XN--ROVU88B', 'XN--S9BRJ9C', 'XN--SES554G', 'XN--T60B56A', 'XN--TCKWE', 'XN--TIQ49XQYJ', 'XN--UNUP4Y', 'XN--VERMGENSBERATER-CTB', 'XN--VERMGENSBERATUNG-PWB', 'XN--VHQUV', 'XN--VUQ861B', 'XN--W4R85EL8FHU5DNRA', 'XN--W4RS40L', 'XN--WGBH1C', 'XN--WGBL6A', 'XN--XHQ521B', 'XN--XKC2AL3HYE2A', 'XN--XKC2DL3A5EE0H', 'XN--Y9A3AQ', 'XN--YFRO4I67O', 'XN--YGBI2AMMX', 'XN--ZFR164B', 'XPERIA', 'XXX', 'XYZ', 'YACHTS', 'YAHOO', 'YAMAXUN', 'YANDEX', 'YE', 'YODOBASHI', 'YOGA', 'YOKOHAMA', 'YOU', 'YOUTUBE', 'YT', 'YUN', 'ZA', 'ZAPPOS', 'ZARA', 'ZERO', 'ZIP', 'ZIPPO', 'ZM', 'ZONE', 'ZUERICH', 'ZW', 'cf2 AARP', 'f0\\fs24 \\cf0 f', 'f1 \\cf2 \\expnd0\\expndtw0\\kerning0', 'margl1440\\margr1440\\vieww10800\\viewh8400\\viewkind0', 'pard\\pardeftab720\\sl280\\partightenfactor0', 'pard\\tx720\\tx1440\\tx2160\\tx2880\\tx3600\\tx4320\\tx5040\\tx5760\\tx6480\\tx7200\\tx7920\\tx8640\\pardirnatural\\partightenfactor0', '{\\*\\expandedcolortbl;;\\cssrgb\\c0\\c0\\c0;}', '{\\colortbl;\\red255\\green255\\blue255;\\red0\\green0\\blue0;}', '{\\fonttbl\\f0\\fswiss\\fcharset0 Helvetica;\\f1\\fmodern\\fcharset0 Courier;}', '{\\rtf1\\ansi\\ansicpg1252\\cocoartf1504\\cocoasubrtf810', '}']

In [437]:
def find_characters(word, character):
    found = []
    last_index = -1
    while True:
        try:
            last_index = word.index(character, last_index+1)
        except ValueError:
            break
        else:
            found.append(last_index)
    return found

In [496]:
#reset df without valid_email_format column
#bank_cust_data = bank_cust_data.drop(labels='valid_email_format', axis=1)
#bank_cust_data = bank_cust_data.drop(labels='valid_tld', axis=1)
bank_cust_data = bank_cust_data.drop(labels='est_zip', axis=1)
bank_cust_data = bank_cust_data.drop(labels='est_city', axis=1)
bank_cust_data = bank_cust_data.drop(labels='est_state', axis=1)
#bank_cust_data = bank_cust_data.drop(labels='formatted_phone', axis=1)
#bank_cust_data = bank_cust_data.drop(labels='valid_phone_flag', axis=1)
#bank_cust_data = bank_cust_data.drop(labels='valid_tld', axis=1)
#print(bank_cust_data)

In [438]:

valid_email_format =[]
valid_top_level_domain=[]
for ind,email in email_series.items():
    #parse email 
    #check if only 1 '@' 
    email_str = str(email)
    count_at = email_str.count('@')
    if count_at == 1:
        at_flag = True
          #find index of '@'
        index_at = email_str.index('@')
    else:
        at_flag = False
    #find count and indices of '.'s
    count_dot = email_str.count('.')
    dot_indices = find_characters(email_str,'.') #this is a list 
    for dot_ind in dot_indices:
        if(dot_ind > index_at):
            dot_flag = True
        else:
            dot_flag= False
            break
    if(at_flag==True and dot_flag==True and count_dot>0):
        valid_email_format.append(True)
    else:
        valid_email_format.append(False)
        
    #Extract Top Level Domain 
    if(count_dot>0):
        tld_dot_start_index = max(dot_indices)
        tld = email[(tld_dot_start_index +1):]
        if(tld.upper() in tld_list):
            valid_top_level_domain.append(True)
        else:
            valid_top_level_domain.append(False)
    else:
        valid_top_level_domain.append(False)

In [439]:
print(valid_email_format)

[True, True, True, True, False, True, True, True, True, True, True, True, True, True, True]

In [441]:
bank_cust_data["valid_email_format"]=valid_email_format

In [440]:
print(valid_top_level_domain)

[True, True, True, True, False, True, False, True, True, True, True, True, True, True, True]

In [442]:
bank_cust_data["valid_tld"]=valid_top_level_domain

In [443]:
print(bank_cust_data)

    source_rowID first_name  last_name                 street           city  \
0              1     Dennis   Sullivan     232 Dryden Terrace       Appleton
1              2      Harry      Davis                123 ABC  New York City
2              3   Michelle      White   185 Manitowish Point        Atlanta
3              4      Marie       Wood  98869 Claremont Place       Pasadena
4              5      Karen     Fisher   4323 Bluestem Center   Philadelphia
5              6       Gary    Carroll    678 Wayridge Center       Scranton
6              7       Paul   Gonzales       47 Main Crossing     Pittsburgh
7              8       Rose       Sims    03535 Knutson Place    Hattiesburg
8            316     Ronald     Powell       2 Crowley Center       Pasadena
9            317       Judy   Harrison       59517 Dottie Way     Birmingham
10           318     Andrew  Robertson       9812 Troy Avenue        Houston
11           319       Ruth   Gonzales        0 Mcguire Court  New York City
12           320    Heather    Hawkins    07155 Calypso Alley  Daytona Beach
13           321     Thomas     Lawson   061 Magdeline Circle         London
14           322       Gary    Carroll    678 Wayridge Center       Scranton

           state     zip             phone                           email  \
0          12345  654321      334-6754-333             dsullivan1@ucla.edu
1       New York   55555  1-(999)999-99999  hdavis3@networkadvertising.org
2        Georgia   30323   1-(678)692-6250                 mwhite4@hud.gov
3     California   91125   1-(626)747-3764           mwood5@bravesites.com
4   Pennsylvania   19115   1-(267)279-4286                kfishere@blogger
5   Pennsylvania   18514   1-(570)785-1034         gcarrollg@discovery.com
6   Pennsylvania   15205   1-(724)209-2821             pgonzalesh@pbs.pqrs
7    Mississippi   39404   1-(601)773-3815           rsimsi@slideshare.net
8     California   91131   1-(626)574-7779              rpowell0@jomla.org
9        Alabama   35263   1-(205)308-3808            jharrison7@sogou.com
10         Texas   77085   1-(713)453-8878          arobertson8@census.gov
11      New York   10115   1-(212)506-2497          rgonzales9@shop-pro.jp
12       Florida   32128   1-(386)294-7334            hhawkin@amazon.co.uk
13      Kentucky   40745   1-(606)272-1234               tlawsonf@admin.ch
14  Pennsylvania   18514   1-(500)785-2234           gcarllg@discovery.com

   est_zip      est_city est_state formatted_phone valid_phone_flag  \
0     None          None      None    +13346754333             True
1     None          None      None   +199999999999            False
2     None          None      None    +16786926250             True
3     None          None      None    +16267473764             True
4    19115  Philadelphia        PA    +12672794286             True
5     None          None      None    +15707851034             True
6    15205    Pittsburgh        PA    +17242092821             True
7     None          None      None    +16017733815             True
8     None          None      None    +16265747779             True
9     None          None      None    +12053083808             True
10   77085       Houston        TX    +17134538878             True
11   10115      New York        NY    +12125062497             True
12   32128   Port Orange        FL    +13862947334             True
13    None          None      None    +16062721234             True
14    None          None      None    +15007852234             True

   valid_email_format valid_tld
0                True      True
1                True      True
2                True      True
3                True      True
4               False     False
5                True      True
6                True     False
7                True      True
8                True      True
9                True      True
10               True      True
11               True      True
12               True      True
13               True      True
14               True      True

In [461]:
#address 

zip_file = 'zip_code_database.csv' #https://www.unitedstateszipcodes.org/zip-code-database/
#zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2014
city_state_zip = pd.read_csv(zip_file,encoding='latin-1')

In [462]:
city_state_zip.head(10)

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2014
0,501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,NaN,"787,939",NaN,US,18.38,-67.18,0
4,603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0
5,604,PO BOX,0,Aguadilla,Ramey,NaN,PR,NaN,NaN,NaN,NaN,US,18.43,-67.15,0
6,605,PO BOX,0,Aguadilla,NaN,NaN,PR,NaN,NaN,NaN,NaN,US,18.43,-67.15,0
7,606,STANDARD,0,Maricao,NaN,Urb San Juan Bautista,PR,Maricao Municipio,America/Puerto_Rico,"787,939",NaN,US,18.18,-66.98,0
8,610,STANDARD,0,Anasco,NaN,"Brisas De Anasco, Est De Valle Verde, Jard De ...",PR,Aasco Municipio,NaN,787,NaN,US,18.28,-67.14,0
9,611,PO BOX,0,Angeles,NaN,NaN,PR,NaN,NaN,NaN,NaN,US,18.28,-66.79,0

In [467]:
addr_filtered = city_state_zip.filter(items=['zip','primary_city','state'])
print(addr_filtered)

         zip     primary_city state
0        501       Holtsville    NY
1        544       Holtsville    NY
2        601         Adjuntas    PR
3        602           Aguada    PR
4        603        Aguadilla    PR
5        604        Aguadilla    PR
6        605        Aguadilla    PR
7        606          Maricao    PR
8        610           Anasco    PR
9        611          Angeles    PR
10       612          Arecibo    PR
11       613          Arecibo    PR
12       614          Arecibo    PR
13       616         Bajadero    PR
14       617      Barceloneta    PR
15       622         Boqueron    PR
16       623        Cabo Rojo    PR
17       624         Penuelas    PR
18       627            Camuy    PR
19       631         Castaner    PR
20       636          Rosario    PR
21       637    Sabana Grande    PR
22       638           Ciales    PR
23       641           Utuado    PR
24       646           Dorado    PR
25       647         Ensenada    PR
26       650          Florida    PR
27       652      Garrochales    PR
28       653          Guanica    PR
29       656       Guayanilla    PR
...      ...              ...   ...
42583  99811           Juneau    AK
42584  99812           Juneau    AK
42585  99820           Angoon    AK
42586  99821         Auke Bay    AK
42587  99824          Douglas    AK
42588  99825       Elfin Cove    AK
42589  99826         Gustavus    AK
42590  99827           Haines    AK
42591  99829           Hoonah    AK
42592  99830             Kake    AK
42593  99832          Pelican    AK
42594  99833       Petersburg    AK
42595  99835            Sitka    AK
42596  99836   Port Alexander    AK
42597  99840          Skagway    AK
42598  99841  Tenakee Springs    AK
42599  99850           Juneau    AK
42600  99901        Ketchikan    AK
42601  99903     Meyers Chuck    AK
42602  99918     Coffman Cove    AK
42603  99919       Thorne Bay    AK
42604  99921            Craig    AK
42605  99922         Hydaburg    AK
42606  99923            Hyder    AK
42607  99925          Klawock    AK
42608  99926       Metlakatla    AK
42609  99927      Point Baker    AK
42610  99928        Ward Cove    AK
42611  99929         Wrangell    AK
42612  99950        Ketchikan    AK

[42613 rows x 3 columns]

In [469]:
addr_filtered.dtypes

zip              int64
primary_city    object
state           object
dtype: object

In [472]:
#filter out where zip code not 5 digit 

filtered = addr_filtered[addr_filtered['zip'].map(str).map(len) == 5]

In [609]:
filtered.head(10)

        zip primary_city state
3690  10001     New York    NY
3691  10002     New York    NY
3692  10003     New York    NY
3693  10004     New York    NY
3694  10005     New York    NY
3695  10006     New York    NY
3696  10007     New York    NY
3697  10008     New York    NY
3698  10009     New York    NY
3699  10010     New York    NY

In [612]:
filtered[filtered['zip'] == 30302]

         zip primary_city state
13071  30302      Atlanta    GA

In [477]:
#merge with a new file to get full State Name
state_abbr_file ='state_abbr.csv'
state_abbr = pd.read_csv(state_abbr_file)

In [478]:
state_abbr.head(55)

             State Abbreviation
0          ALABAMA           AL
1           ALASKA           AK
2          ARIZONA           AZ
3         ARKANSAS           AR
4       CALIFORNIA           CA
5         COLORADO           CO
6      CONNECTICUT           CT
7         DELAWARE           DE
8          FLORIDA           FL
9          GEORGIA           GA
10          HAWAII           HI
11           IDAHO           ID
12        ILLINOIS           IL
13         INDIANA           IN
14            IOWA           IA
15          KANSAS           KS
16        KENTUCKY           KY
17       LOUISIANA           LA
18           MAINE           ME
19        MARYLAND           MD
20   MASSACHUSETTS           MA
21        MICHIGAN           MI
22       MINNESOTA           MN
23     MISSISSIPPI           MS
24        MISSOURI           MO
25         MONTANA           MT
26        NEBRASKA           NE
27          NEVADA           NV
28   NEW HAMPSHIRE           NH
29      NEW JERSEY           NJ
30      NEW MEXICO           NM
31        NEW YORK           NY
32  NORTH CAROLINA           NC
33    NORTH DAKOTA           ND
34            OHIO           OH
35        OKLAHOMA           OK
36          OREGON           OR
37    PENNSYLVANIA           PA
38    RHODE ISLAND           RI
39  SOUTH CAROLINA           SC
40    SOUTH DAKOTA           SD
41       TENNESSEE           TN
42           TEXAS           TX
43            UTAH           UT
44         VERMONT           VT
45        VIRGINIA           VA
46      WASHINGTON           WA
47   WEST VIRGINIA           WV
48       WISCONSIN           WI
49         WYOMING           WY
50            GUAM           GU
51     PUERTO RICO           PR
52  VIRGIN ISLANDS           VI

In [479]:
addr_with_state=pd.merge(filtered, state_abbr, left_on=  ['state'],right_on= ['Abbreviation'], how = 'left')

In [480]:
addr_with_state.head(10)

     zip primary_city state     State Abbreviation
0  10001     New York    NY  NEW YORK           NY
1  10002     New York    NY  NEW YORK           NY
2  10003     New York    NY  NEW YORK           NY
3  10004     New York    NY  NEW YORK           NY
4  10005     New York    NY  NEW YORK           NY
5  10006     New York    NY  NEW YORK           NY
6  10007     New York    NY  NEW YORK           NY
7  10008     New York    NY  NEW YORK           NY
8  10009     New York    NY  NEW YORK           NY
9  10010     New York    NY  NEW YORK           NY

In [606]:
zipobj = addr_with_state[addr_with_state.zip == 30323]
print(zipobj)
for index, row in zipobj.iterrows():
            correct_city = row['primary_city']
            correct_state = row['Abbreviation']
            print(correct_city)
            print(correct_state)
            break

Empty DataFrame
Columns: [zip, primary_city, state, State, Abbreviation]
Index: []

In [482]:
addr_with_state.dtypes

zip              int64
primary_city    object
state           object
State           object
Abbreviation    object
dtype: object

In [483]:
bank_cust_data.dtypes

source_rowID           int64
first_name            object
last_name             object
street                object
city                  object
state                 object
zip                    int64
phone                 object
email                 object
est_zip               object
est_city              object
est_state             object
formatted_phone       object
valid_phone_flag        bool
valid_email_format      bool
valid_tld               bool
dtype: object

In [613]:
x = addr_with_state[addr_with_state.zip == 30323]['zip']
print(type(x))
print(x)
correct_city =  addr_with_state[addr_with_state.zip == zipcode]['primary_city']
correct_state = addr_with_state[addr_with_state.zip == zipcode]['Abbreviation']
print(type(correct_city))
print(type(correct_state))
print(addr_with_state[addr_with_state.zip == 10010])
print(correct_city)

<class 'pandas.core.series.Series'>
Series([], Name: zip, dtype: int64)
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
     zip primary_city state     State Abbreviation
9  10010     New York    NY  NEW YORK           NY
3908    Scranton
Name: primary_city, dtype: object

In [621]:
series = bank_cust_data['zip']
from pandas import Series
data_zipcodes = []
data_cities = []
data_states = []
index1 = series.index

for index, zipcode in series.items():
        if len(str(zipcode)) == 5:
                zipobj = addr_with_state[addr_with_state.zip == zipcode]
                if(zipobj.empty == True):
                    correct_city = 'NotinLookup'
                    correct_state = 'NotinLookup'
        #correct_city =  addr_with_state[addr_with_state.zip == zipcode]['primary_city']
        #correct_state = addr_with_state[addr_with_state.zip == zipcode]['Abbreviation']
                else:
                    for index, row in zipobj.iterrows():
                            correct_city = row['primary_city']
                            correct_state = row['Abbreviation']
                            break
        else: 
            correct_city = 'N/A'
            correct_state = 'N/A'
            
        #data_zipcodes.append(zip)
       
        data_cities.append(correct_city)
        data_states.append(correct_state)
        
#zip_series = Series(data_zipcodes,index =index1)
cities_series = Series(data_cities,index =index1)
states_series = Series(data_states,index =index1)

print(cities_series)
print(states_series)

0               N/A
1     Young America
2       NotinLookup
3          Pasadena
4      Philadelphia
5          Scranton
6        Pittsburgh
7       Hattiesburg
8          Pasadena
9        Birmingham
10          Houston
11         New York
12      Port Orange
13           London
14         Scranton
dtype: object
0             N/A
1              MN
2     NotinLookup
3              CA
4              PA
5              PA
6              PA
7              MS
8              CA
9              AL
10             TX
11             NY
12             FL
13             KY
14             PA
dtype: object

In [622]:
#bank_cust_data["est_zip"] = zip_series
bank_cust_data["correct_city"] = cities_series
bank_cust_data["correct_state"] = states_series

In [623]:
print(bank_cust_data)

    source_rowID first_name  last_name                 street           city  \
0              1     Dennis   Sullivan     232 Dryden Terrace       Appleton
1              2      Harry      Davis                123 ABC  New York City
2              3   Michelle      White   185 Manitowish Point        Atlanta
3              4      Marie       Wood  98869 Claremont Place       Pasadena
4              5      Karen     Fisher   4323 Bluestem Center   Philadelphia
5              6       Gary    Carroll    678 Wayridge Center       Scranton
6              7       Paul   Gonzales       47 Main Crossing     Pittsburgh
7              8       Rose       Sims    03535 Knutson Place    Hattiesburg
8            316     Ronald     Powell       2 Crowley Center       Pasadena
9            317       Judy   Harrison       59517 Dottie Way     Birmingham
10           318     Andrew  Robertson       9812 Troy Avenue        Houston
11           319       Ruth   Gonzales        0 Mcguire Court  New York City
12           320    Heather    Hawkins    07155 Calypso Alley  Daytona Beach
13           321     Thomas     Lawson   061 Magdeline Circle         London
14           322       Gary    Carroll    678 Wayridge Center       Scranton

           state     zip             phone                           email  \
0          12345  654321      334-6754-333             dsullivan1@ucla.edu
1       New York   55555  1-(999)999-99999  hdavis3@networkadvertising.org
2        Georgia   30323   1-(678)692-6250                 mwhite4@hud.gov
3     California   91125   1-(626)747-3764           mwood5@bravesites.com
4   Pennsylvania   19115   1-(267)279-4286                kfishere@blogger
5   Pennsylvania   18514   1-(570)785-1034         gcarrollg@discovery.com
6   Pennsylvania   15205   1-(724)209-2821             pgonzalesh@pbs.pqrs
7    Mississippi   39404   1-(601)773-3815           rsimsi@slideshare.net
8     California   91131   1-(626)574-7779              rpowell0@jomla.org
9        Alabama   35263   1-(205)308-3808            jharrison7@sogou.com
10         Texas   77085   1-(713)453-8878          arobertson8@census.gov
11      New York   10115   1-(212)506-2497          rgonzales9@shop-pro.jp
12       Florida   32128   1-(386)294-7334            hhawkin@amazon.co.uk
13      Kentucky   40745   1-(606)272-1234               tlawsonf@admin.ch
14  Pennsylvania   18514   1-(500)785-2234           gcarllg@discovery.com

   formatted_phone valid_phone_flag valid_email_format valid_tld  \
0     +13346754333             True               True      True
1    +199999999999            False               True      True
2     +16786926250             True               True      True
3     +16267473764             True               True      True
4     +12672794286             True              False     False
5     +15707851034             True               True      True
6     +17242092821             True               True     False
7     +16017733815             True               True      True
8     +16265747779             True               True      True
9     +12053083808             True               True      True
10    +17134538878             True               True      True
11    +12125062497             True               True      True
12    +13862947334             True               True      True
13    +16062721234             True               True      True
14    +15007852234             True               True      True

     correct_city correct_state
0             N/A           N/A
1   Young America            MN
2     NotinLookup   NotinLookup
3        Pasadena            CA
4    Philadelphia            PA
5        Scranton            PA
6      Pittsburgh            PA
7     Hattiesburg            MS
8        Pasadena            CA
9      Birmingham            AL
10        Houston            TX
11       New York            NY
12    Port Orange            FL
13         London            KY
14       Scranton            PA

In [619]:
bank_cust_data = bank_cust_data.drop(labels='correct_city', axis=1)
bank_cust_data = bank_cust_data.drop(labels='correct_state', axis=1)

In [527]:
h = [{'a': 1, 'b': 2}, {'a': 3, 'b': 8}, {'a': 1, 'b': 3}]
from pandas import DataFrame

d = DataFrame(h)

In [529]:
print(d)

   a  b
0  1  2
1  3  8
2  1  3

In [530]:
items = d[d['a'] == 1]

In [555]:
for index, row in items.iterrows():
    result = row['b']
    print(result)
    break

2